html {
    background-color: black;
    color: white;
    font-size: 1.75em;
}

.container {
    margin-bottom: 50px;
}

.header {
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 9999;
}

/* Base style for the checkbox */
input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid grey;
    background-color: black;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}

/* Add a white checkmark when checked */
input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -60%) rotate(45deg);
}

/* Optional: Add focus state for accessibility */
input[type="checkbox"]:focus {
    outline: none;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
}

.color-ethereal {
    color: grey;
}

.color-unique {
    color: #a59263;
}

.color-set {
    color: #00ff00;
}

.color-rune {
    color: #ffa500;
}

.grail-tabs {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 8px 0;
}

.tab {
    margin: 8px;
    padding: 8px;
    cursor: pointer;
}

.tab-active {
    border-bottom: 1px solid;
    border-bottom-color: white;
}

.search {
    border-bottom: 1px solid;
    border-bottom-color: grey;
    width: 15%;
    margin: 8px;
    padding: 8px;
}

.search input {
    width: 100%;
    font-size: 1em;
    border: none;
    background: none;
    color: white;
}

.tabs-page {
    display: none;
}

div#statistics {
    display: flex;
    justify-content: space-between;
}

table {
    width: 95%;
    table-layout: fixed;
    margin-top: 66px;
    /* border-collapse: collapse; */
}

table tr td:first-child {
    font-weight: bold;
}

table tr:last-child {
    border-width: 5px;
}

thead {
    position: sticky;
    top: 67px;
    background-color: black;
    z-index: 100;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.tg {
    /* border-collapse: collapse; */
    border-spacing: 0;
    margin: 0px auto;
}

.tg td, .tg th {
    border-color: white;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    padding: 10px 5px;
}

.tg .tg-0lax {
    text-align: center;
    vertical-align: center;
}

/* Weapons CSS */
.tg .tg-0pky {
    text-align: center;
    vertical-align: center;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* justify-content: center; */
    position: fixed;
    width: 100%;
    height: 5%;
    bottom: 0;
    background-color: black;
    color: white;
}

/* Style the custom label */
.custom-button {
    display: inline-flex;
    padding: 7px 20px;
    background-color: grey;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

/* Add hover effect */
.custom-button:hover {
    background-color: black;
}

.btd-btn {
    padding: 7px 20px;
    background-color: grey;
    color: white;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}